/* variables couleures*/
:root {
	--light-color : #BFBFBF;
	--dark-color : #262626;
}

body {
	margin : 0;
	background-color : #262626;
	font-family : 'Ubuntu', sans-serif;
	color : var(--light-color);
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
	cursor: crosshair;
}

#territory {
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
}

h1 {
	margin : 30px;
	font-size : 100px;
	font-weight : bold;
}

p {
	font-size : 30px;
	margin : 0;
}

/* animation du flou pour les transitions*/
@keyframes blur {
	0% {filter : blur(0);}
	100% {filter : blur(20px);}
}

@keyframes unblur {
	0% {filter : blur(20px);}
	100% {filter : blur(0);}
}

@keyframes appear {
	0% {opacity : 0; filter : blur(30px);}
	100% {opacity : 100%; filter : blur(0);}
}

@keyframes disappear {
	0% {opacity : 100%; filter : blur(0);}
	100% {opacity : 0; filter : blur(30px);}
}

/* style des tuiles (menu et pause)*/
#menu-tile {
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
	text-align : center;
}

#pause-tile {
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
	text-align : center;
	display : none;
}

.button-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

button {
	display : inline;
	height : 40px;
	padding : 10px 30px;
	
	vertical-align: middle;
	
	font-size : 15px;
	color : var(--light-color);
	background-color : transparent;
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
	
	border : var(--light-color) solid 1px;
	border-radius : 5px;
	
	position: relative;
}

button:hover {
	cursor: crosshair;
}

#play-button {
	margin-right : 40px;
}

#play-button:hover {
	background-color : var(--light-color);
	color : var(--dark-color);
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.settings-button {
	height : 30px;
	width : 40px;
	overflow: hidden;
	padding : 0;
	border : 0;
	border-radius : 0;
}

.settings-button img {
	position: absolute;
	height : 100%;
	top: 0;
	vertical-align: middle;
	
	transform: translateX(20%) rotate(0deg);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.settings-button #engrenage {
	opacity: 0;
}

.settings-button:hover img {
	transform: translateX(-65%) rotate(-110deg);
}

.settings-button:hover #engrenage {
	opacity: 1;
}


