body {
margin : 0;
background-color : rgba(0,0,0,1);
}

#territory	{
position : absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#glass {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
background: "red";
}

#contenu {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
background: "red";
}

@keyframes flou-progressif {
  from { backdrop-filter: blur(0px); }
  to { backdrop-filter: blur(5px); }
}

#challenge {
width : 1000px;
height : 300px;

position: fixed;
bottom: -500px;
padding: 20px;
left: 50%;
transform: translateX(-50%);

transition : bottom 1s ease-out;

/* From https://css.glass */
/*
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.32);
*/
}

#play-tile {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

display: none;
}

#play-button {
font-family: Ubuntu;
font-size: 100px;
text-align: center;
font-weight: bold;
font-style: italic;
}
