:root {
  --light-color: #BFBFBF;
  --dark-color: #262626;
}

body {
margin : 0;
background-color : var(--dark-color);
font-family: 'Ubuntu', sans-serif;
color: var(--light-color);

position : absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#territory	{
position : absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#glass {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

/*
box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
*/

/*
animation-fill-mode: forwards;
*/
}

h1 {
margin : 30px;

font-size: 100px;
font-weight: bold;
}

p {
font-size: 30px;
margin: 0;
}

@keyframes flouter {
  0% { backdrop-filter: blur(0px); }
  100% { backdrop-filter: blur(20px); }
}

@keyframes deflouter {
  0% { backdrop-filter: blur(20px); }
  100% { backdrop-filter: blur(0px); }
}

@keyframes show {
  0%   {opacity: 0; filter: blur(30px)}
  100% {opacity: 100%; filter: blur(0px)}
}

@keyframes hide {
  0% {opacity: 100%; filter: blur(0px)}
  100%   {opacity: 0; filter: blur(30px)}
}

#menu-tile {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
/*
display: none;
*/
}

#pause-tile {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
display: none;
}

button {
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}
